html{
  scroll-behavior: smooth;
}

body{
  background-color: #9a9a9a;
  font-size: 18px;
  line-height: 1.15;
  margin: 0;
  padding: 0;
}


nav a:hover, nav a:focus {
  text-decoration-line: underline;
}

.skip {
  position: absolute;
  top: -40px;
}

h1{
  font-size: 50px;
  line-height: 1;
  padding: 50px 0;
  text-align: center;
}

h2{
  font-size: 32px;
  line-height: 1.5;
}

nav li{
  display:inline;
  padding-right:20px;

}

nav a{
  color: black;
  font-weight: bold;
  text-decoration: none; 
}


.skip a{
  background: white;
  left: 0;
  padding: 6px;
  -webkit-transition: top 1s ease-out;
  transition: top 1s ease-out;
  z-index: 1;
}

nav{
  background-color: #ddd;
  padding: 25px 0; 
  text-align: left;
}

footer{
  background-color: black;
  color: white;
  padding-top: 30px;
  text-align: center;
}

.active a {
  text-decoration-line: underline;
  text-decoration-style: wavy;
  text-underline-offset: 5px;
}